/configure
/config/missing
/config/install-sh
/config/depcomp
/config/config.sub
/config/config.guess
autom4te.cache
/aclocal.m4
/Makefile.in
/src/config.hpp.in
/GPATH
/GRTAGS
/GTAGS
/Makefile
/config/compile
/compile_commands.json
build
